/* ------------------------------------- >> basic styles << */

/* remove static styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* remove static styles */

/* add fonts */

@font-face {
    font-family: vazir;
    src: url('../../../../assets/fonts/Vazir.ttf');
}

@font-face {
    font-family: vazirB;
    src: url('../../../../assets/fonts/Vazir-Bold.ttf');
}

/* add fonts */

/* style html & body */

html, body {
    width: 100%;
    height: 100%;
    font-family: vazir;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.3));
    position: relative;
}

.layer1 {
    position: absolute;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer2 {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    width: max-content;
    height: max-content;
}

.BackToHome {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #1122a5;
    animation: jiggle 3s ease infinite;
    transform: scale(1);
    cursor: pointer;
}

@keyframes jiggle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }

}

.BackToHomeIcon {
    font-size: 16px;
    color: white;
    margin-right: 10px;
}

.BackToHomeText {
    font-size: 14px;
    color: white;
}

/* style html & body */

/* style main column */

.column {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* style main column */

/* ------------------------------------- >> basic styles << */

/* ------------------------------------- >> content styles */

.mainContiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 250px;
    border: 2px solid white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    transition: all 0.2s;
    padding: 20px;
}

.mainContiner.verified {
    transition: all 0.2s;
    background-color: rgba(0, 200, 0, 0.3);
}

.mainContiner.incorrect {
    transition: all 0.2s;
    background-color: rgba(200, 0, 0, 0.2);
}

.mainContiner.rise {
    animation: rise 1s ease forwards;
}

@keyframes rise {
    from {
        height: 250px;
    }

    to {
        height: 300px;
    }

}

/* logo content style */

.LogoContiner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1122a5;
    width: 75px;
    height: 75px;
    border: 1px solid white;
    border-radius: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
}

.logo {
    width: 60%;
    height: 40%;
}

/* logo content style */

/* main text style */
.mainText {
    font-family: vazirB;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    transform: scale(1);
}

.mainContiner.rise .mainText {
    animation: textRise 1s ease forwards;
}

@keyframes textRise {
    form {
        margin-top: 0px;
    }

    to {
        margin-top: 30px;
    }
}

/* main text style */

/* content continer style */

.content {
    display: none;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    margin: auto;
    transform: scale(1);
}

.content.flexDisplay {
    display: flex;
    animation: pumpUp 1s ease forwards;
}

@keyframes pumpUp {
    from {
        display: none;
        transform: scale(0);
    }

    to {
        display: flex;
        transform: scale(1);
    }
}

/* phone number style */

.phoneBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phoneBox.removeDisplay {
    display: none;
    animation: scaledown 0s ease forwards;
}

@keyframes scaledown {
    from {
        display: flex;
        transform: scale(1);
    }

    to {
        display: none;
        transform: scale(0);
    }
}

.hintNumber {
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    padding: 7px 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}

.phoneContainer {
    background-color: white;
    border-radius: 5px;
    padding: 8px 12px;
    border: 1px solid white;
    outline: none;
    text-align: center;
}

.phoneContainer[type="text"] {
    font-family: vazir;
    font-weight: 500;
}

.phoneContainer:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
}

.phoneContainer::placeholder {
    font-family: vazir;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.4);
}

/* phone number style */

/* otp styles */
.optContainer {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: max-content;
}

.optContainer.addDisplay {
    display: flex;
    animation: scaleup 2s ease forwards;
}

@keyframes scaleup {
    from {
        display: none;
        transform: scale(0);
    }

    to {
        display: flex;
        transform: scale(1);
    }
}

.optFeild {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    margin: 0px 5px;
    text-align: center;
}

/* otp styles */

/* error style */

.phoneError {
    display: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    margin: auto;
}

.phoneError.onError {
    display: block;
}

/* error style */

/* content continer style */

/* button continer styles */

.buttonContiner {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* buttons style */
.phoneSubmitButton {
    width: 80px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.checkIcon {
    display: none;
    color: rgba(0, 0, 0, 0.8);
}

.phoneSubmitButton.loading {
    transition: all 0.2s;
    width: 40px;
}

.phoneSubmitButton.loading #submiticon {
    display: none;
}

.phoneSubmitButton.loading #submittext {
    display: none;
}

.phoneSubmitButton.loading .checkIcon {
    display: block;
    animation: turn 1s ease infinite;
}

@keyframes turn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(350deg);
    }

}

.canselButton, .submitButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.canselButton:hover, .submitButton:hover, .phoneSubmitButton:hover {
    transition: all 0.2s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.canselButton:active, .submitButton:active {
    transition: all 0.2s;
    transform: scale(0.95);
}

.canselButton:hover iconify-icon {
    transition: all 0.4s;
    color: rgba(255, 0, 0, 0.8);
}

.submitButton:hover iconify-icon {
    transition: all 0.4s;
    color: rgba(0, 200, 0, 0.8);
}

.phoneSubmitButton:hover :nth-child(2) {
    transition: all 0.4s;
    color: rgba(0, 150, 0, 0.8);
}


/* buttons style */

/* buttons changes style */

.buttonContiner.onsubmit {
    width: max-content;
}

.buttonContiner.onsubmit .canselButton {
    animation: scale0 0.1s ease forwards;
}

.buttonContiner.onsubmit .submitButton {
    animation: scale0 0.1s ease forwards;
}

@keyframes scale0 {
    from {
        transform: scale(1);
        display: flex;
    }

    to {
        transform: scale(0);
        display: none;
    }
}

.buttonContiner.onsubmit .phoneSubmitButton {
    display: flex;
    animation: scale1 1s ease forwards;
}

@keyframes scale1 {
    from {
        transform: scale(0) rotate(360deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

/* buttons changes style */


/* child button style */

.buttonText {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.buttonIcon {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 10px;
}



/* child button style */

/* button continer styles */

/* ------------------------------------- >> content styles */

/* ------------------------------------- >> contact us styles << */

/* main continer style */

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: max-content;
    height: max-content;
}

/* main continer style */

/* social media content style */

.socialContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.socialMediaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 13px;
    margin: 0px 5px;
    cursor: pointer;
}

.socialMediaIcon {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.InstagramText {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

/* social media content style */

/* address content styles */

.address {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
    border-radius: 30px;
    padding: 12px 18px;
}

.addresIcon {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px 10px;
}

.addressText {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* address content styles */

/* phone content style */

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 10px 14px;
    margin: 10px 0px;
}

.phoneIcon {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px 10px;
}

.phoneText {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* phone content style */

/* ------------------------------------- >> contact us styles << */

/* ------------------------------------- >> media query <<  */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
        justify-content: center;
    }

    .mainContiner {
        width: 80%;
    }

    .infoContainer {
        margin-top: 60px;
    }

    .buttonContiner {
        width: 100%;
    }

}


@media screen and (max-width: 425px) {

    .layer2 {
        top: 92%;
        left: 75%;
    }

    .mainText {
        font-size: 12px;
        text-align: center;
    }

    .phoneContainer {
        width: 150px;
    }

    .address {
        padding: 10px 0px;
    }

    .buttonText {
        font-size: 12px;
    }

    .buttonIcon {
        font-size: 12px;
    }

    .addressText {
        font-size: 12px;
    }
}

/* ------------------------------------- >> media query <<  */