/* --------------------------------------------------------- >> Basic Styles << */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------------------------------- >> scroll style << */

::-webkit-scrollbar {
    width: 0px;

}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.0);
}

/* ------------------------------------- >> scroll style << */

/* ------------------------------------- >> add fonts << */

@font-face {
    font-family: vazir;
    src: url('./../../../../assets/fonts/Vazir.ttf');
}

@font-face {
    font-family: vazirB;
    src: url('./../../../../assets/fonts/Vazir-Bold.ttf');
}

/* ------------------------------------- >> add fonts << */

/* ------------------------------------- >> layer style << */

/* all father style */

html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.3));
    font-family: vazir;
}

/* all father style */

/* all layers style */

.MainLayer {
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(100px);
}

.Layer1 {
    display: flex;
    align-items: end;
    justify-content: center;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.Layer2 {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.Layer2.oepnNotification {
    display: flex;

}



.SuccessSignUpContiner {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    padding: 18px 24px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.SuccessSignUpContiner.pupUp {
    transform: scale(1);
    display: flex;
    animation: pupUpNotif 1s ease forwards;
}

@keyframes pupUpNotif {
    0% {
        transform: scale(0);
        display: none;
    }

    100% {
        transform: scale(1);
        display: flex;
    }
}

.TitleSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: #ffcb05;
    padding: 12px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.TitleSignUpIcon {
    font-size: 18px;
    margin: 0px 10px;
}

.TitleSignUpText {
    font-size: 18px;
}

.bodySignUp {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.Arrows {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SignUpArrows {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    transform: rotate(45deg);
}

.SignUpBodyButton {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.SubmitSignUpButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    background-color: white;
    padding: 8px 12px;
    border-radius: 10px;
    transition: all 0.4s;
    border: 2px solid white;
    transform: scale(1);
}

.SubmitSignUpButton:hover {
    background-color: #ffcb05;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s;
}

.SubmitSignUpButton:active {
    transition: all 0.4s;
    transform: scale(0.95);
}

.SubmitSignUpButtonIcon {
    font-size: 18px;
    margin-right: 10px;
}

.SubmitSignUpButtonText {
    font-size: 18px;
}

/* all layers style */

/* ------------------------------------- >> layer style << */

/* --------------------------------------------------------- >> Basic Styles << */

/* ------------------------------------- >> contact us styles << */

/* main continer style */

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin-top: 30px;
}

/* main continer style */

/* social media content style */

.socialContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.socialMediaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 13px;
    margin: 0px 5px;
    cursor: pointer;
}

.socialMediaIcon {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.InstagramText {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

/* social media content style */

/* address content styles */

.address {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
    border-radius: 30px;
    padding: 12px 10px;
}

.addresIcon {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px 10px;
}

.addressText {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* address content styles */

/* phone content style */

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 10px 14px;
    margin: 10px 0px;
}

.phoneIcon {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px 10px;
}

.phoneText {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* phone content style */

/* ------------------------------------- >> contact us styles << */


/* --------------------------------------------------------- >> Content Styles << */

/* >> Main Continer */
.MainContiner {
    width: 60%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* Main Continer << */

/* >> User Continer Styles */
.UserContiner {
    width: 100%;
    height: max-content;
    border: 2px solid white;
    border-top: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.UserInformationContiner {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.BaniBonLogoContiner {
    width: 95px;
    height: 85px;
    border-radius: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BaniBonLogo {
    width: 70%;
    height: 45%;
}

.TitleText {
    font-size: 16px;
    margin-top: 20px;
    color: white;
    font-family: vazirB;
}


/* --------------- user image style << */

/* --------------- >> Form Styles */

/* >> Form Contianer Style */
.FromContiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: max-content;
    padding: 10px;
    transition: all 1s;
}

/* Form Contianer Style << */

/* >> Row Continer Style */
.RowContiner {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
}

/* Row Continer Style << */

/* >> big feild conteiner style */
.BigFeildContiner {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    cursor: default;
}

.BigFeildContiner.validationError .validationErrorText {
    transition: all 0.2s;
    opacity: 1;
}

/* big fild continer style << */

/* >> Simple Field Continer Style */
#IsntagramFeild {
    display: none;
}

#IsntagramFeild.AddInsta {
    display: flex;
    animation: popup 1s ease forwards;
}

.SimpleFeildContiner {
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.SimpleFeildContiner.validationError .validationErrorText {
    transition: all 0.2s;
    opacity: 1;
}

/* >> Feild Title */
.FeildTitle {
    font-size: 16px;
    font-family: vazir;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.8);
}

/* Feild Title << */

/* >> Feild */
.Feild {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s;
}

.validationErrorText {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255, 0, 0, 1);
    opacity: 0;
}


/* Feild << */

/* >> Text Feild Icon */

.TextFeildIcon {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    background-color: transparent;
}

/* Text Feild Icon << */

/* >> Text Feild  */
.TextFeild {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    text-align: right;
    background-color: transparent;
    caret-color: white;
}

.TextFeild[type="text"] {
    font-family: vazir;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.TextFeild::placeholder {
    font-family: vazir;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* Text Feild << */

/* Simple Field Continer Style << */

/* >> Contact Way Continer Styles */

.ContactWayContiner {
    position: relative;
    width: 100%;
    height: 45px;
    transition: all 0.8s;
}

/* contact way animations */

.ContactWayContiner.onClick {
    transition: all 0.8s;
    height: 200px;
}

.ContactWayContiner.onClick .ContactWayBody {
    display: flex;
    animation: popup 1s ease forwards;
}

@keyframes popup {
    0% {
        display: none;
        transform: scale(0);
    }

    100% {
        display: flex;
        transform: scale(1);
    }
}

@keyframes popin {
    0% {
        display: flex;
        transform: scale(1);
    }

    100% {
        display: none;
        transform: scale(0);
    }
}

.ContactWayContiner.onClick .ContactWayTitleIcon {
    transition: all 0.2s;
    transform: rotate(180deg);
}

/* contact way animations */

/* contact wat title style */
.ContactWayTitle {
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: pointer;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 9px 10px;
    border: 2px solid white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.ContactWayTitleIcon {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.2s;
    transform: rotate(0deg);
}

.ContactWayTitleText {
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* contact wat title style */

/* contact wat body style */
.ContactWayBody {
    position: absolute;
    top: 50px;
    width: 100%;
    height: max-content;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 6px 12px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    animation: popin 0.2s ease forwards;
}

.ContactWay {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 2px 0px;
    cursor: pointer;
    transition: all 0.8s;
}

.ContactWay:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.ContactWayIcon {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
}

.ContactWatText {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* contact wat body style */

/* Contact Way Continer Styles << */

/* >> DatePicker styles */

/* marride date picker display */
#MarideDatePicker {
    display: none;
    animation: popin 1s ease forwards;
    height: 0px;
    transition: all 1s;
}

#MarideDatePicker.remove {
    height: max-content;
    display: flex;
    animation: popup 1s ease forwards;
    transition: all 1s;
}

#MdDatePicker.openMd {
    transition: all 1s;
    height: 245px;
}

#MdDatePicker.openMd #MdDatePickerBody {
    display: flex;
    animation: popup 1s ease forwards;
}

#MdDatePicker.openMd .submitDatePicker {
    display: flex;
    animation: popup 1s ease forwards;
}

/* marride date picker display */

/* date Picker continer */
.DatePickerContiner {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    position: relative;
    transition: all 0.8s;
}

.DatePickerContiner.openBd {
    transition: all 1s;
    height: 245px;
}

.DatePickerContiner.openBd .DatePickerBody {
    display: flex;
    animation: popup 1s ease forwards;
}

.DatePickerContiner.openBd .submitDatePicker {
    display: flex;
    animation: submit 1s ease forwards;
}

@keyframes submit {
    0% {
        display: none;
        transform: scale(0);
    }

    100% {
        display: flex;
        transform: scale(1);
    }

}

/* date Picker continer */

/* date Picker header */
.DatePickerHeder {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.DatePickerTitleIcon {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.DatePickerTitleText {
    direction: rtl;
    font-size: 14px;
    color: white;
}

/* date Picker header */

/* date Picker body */
.DatePickerBody {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 150px;
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    animation: popin 0.2s ease forwards;
}

/* Arrows button Styles */
.ArrowButtonUp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-top: 0px;
    cursor: pointer;
    transition: all 0.2s;
}

.ArrowButtonUp:active .IconArrowButton {
    transition: all 0.2s;
    transform: translateY(-5px);
}

.ArrowButtonDown {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-bottom: 0px;
    cursor: pointer;
}

.ArrowButtonDown:active .IconArrowButton {
    transition: all 0.2s;
    transform: translateY(5px);
}

.IconArrowButton {
    font-size: 18px;
    padding: 2px 6px;
    color: white;
}

/* Arrows button Styles */

/* date Picker body */

/* >> Dayes Styles */
.DaysContiner {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}

.DayBodyContiner {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.DayBox {
    height: max-content;
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 2px 0px;
    border-radius: 5px;
    transition: all 0.4s;
}

.DayBox:hover {
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
}

.DayBox.selectedDay {
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
}

.DayText {
    font-size: 14px;
    color: white;
}

/* Dayes Styles << */

/* >> month styles */
.MonthContiner {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    white-space: nowrap;
}

.MonthBodyContiner {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.MonthBox {
    height: max-content;
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 2px 0px;
    border-radius: 5px;
    transition: all 0.4s;
}

.MonthBox:hover {
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
}

.MonthBox.selectedMonth {
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
}

.MonthText {
    font-size: 14px;
    color: white;
}

/* month styles << */

/* >> year style */
.YearContiner {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    white-space: nowrap;
}

.YearBodyContiner {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.YearBox {
    height: max-content;
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 2px 0px;
    border-radius: 5px;
    transition: all 0.4s;
}

.YearBox:hover {
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
}

.YearBox.selectedYear {
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
}

.YearText {
    font-size: 14px;
    color: white;
}

/* year style << */

/* >> submit button */
.submitDatePicker {
    cursor: pointer;
    position: absolute;
    top: 210px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 4px 14px;
    background-color: transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    border-radius: 5px;
}

.SubmitDatePickerIcon {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 10px;
}

.SubmitDatePickerText {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* submit button << */

/*  DatePicker styles << */

/* >> marital status styles */
.maritalStatusContiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* radio Continer style */
.RadioContiner {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* radio Continer style */

/* radio Text style */
.RadioText {
    cursor: pointer;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

/* radio Text style */

/* radio button style */
.RadioButton {
    margin-right: 10px;
}

.RadioButton[type="radio"] {
    position: relative;
    appearance: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    margin: 0px 5px 0px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.RadioButton[type="radio"]:checked {
    background-color: #ffcb05;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid white;
    transition: all 0.5s;
}

/* radio button style */

/* marital status styles << */

/* >> submit Continer Style */

.SubmitButton {
    margin-bottom: 20px;
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 14px;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.1s;
}

/* submit button animations */
.SubmitButton.onSubmit {
    transition: all 1s;
    width: 47px;
}

.SubmitButton.onSubmit .SubmitText {
    animation: fadein 0.0s ease forwards;
}

@keyframes fadein {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.SubmitButton.onSubmit .SubmitIcon {
    animation: spin 0.5s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.SubmitButton:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.SubmitButton:active {
    transform: scale(0.95);
    transition: all 0.2s;
}

/* submit button animations */

.SubmitIcon {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.SubmitText {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    font-family: vazir;
}

/*  submit Continer Style << */


/* ---------------  Form Styles << */


/* User Continer Styles << */

/* --------------------------------------------------------- >> Content Styles << */

/* --------------------------------------------------------- >> Notification styles */

/* --------------------------------------------------------- >> Notification styles */

/* --------------------------------------------------------- >> Media Query << */

/* ------------------------------------- >> Large Screen Media Query << */

@media screen and (min-width: 2056px) {

    /* >> side bar  */
    .SideBarButton {
        transform: translateX(140%);
    }

    .SideBarBtnIcon {
        font-size: 45px;
    }

    .SideBar {
        padding: 20px 20px;
    }

    .SideBarOption {
        margin: 10px 0px;
    }

    .SideBarOptionIcon {
        font-size: 40px;
    }

    /* side bar << */

    /* >> content styles */
    .welcomeText {
        font-size: 24px;
    }

    .welcomeIcon {
        font-size: 22px;
    }

    .UserImage {
        width: 125px;
        height: 125px;
    }

    .imagePickerContiner {
        padding: 15px;
    }

    .ImagePickerIcon {
        font-size: 20px;
    }

    .UserName {
        font-size: 24px;
    }

    .SimpleFeildContiner {
        margin: 5px 0px;

    }

    .Feild {
        padding: 15px 20px;
        margin-bottom: 15px;
    }

    .FeildTitle {
        font-size: 24px;
    }

    .TextFeildIcon {
        font-size: 18px;
    }

    .TextFeild[type="text"] {
        font-size: 18px;

    }

    .TextFeild::placeholder {
        font-size: 18px;
    }

    .ContactWayContiner.onClick {
        transition: all 0.8s;
        height: 250px;
    }

    .ContactWayTitle {
        padding: 15px;
    }

    .ContactWayBody {
        top: 85px;
    }

    .ContactWayTitleText {
        font-size: 20px;
    }

    .ContactWatText {
        font-size: 20px;
    }

    .ContactWayIcon {
        font-size: 20px;
    }

    #MdDatePicker.openMd {
        height: 330px;
    }

    .DatePickerContiner {
        height: 55px;
    }

    .DatePickerContiner.openBd {
        height: 330px;
    }

    .DatePickerTitleText {
        font-size: 20px;
    }

    .DatePickerHeder {
        padding: 15px;
    }

    .DatePickerBody {
        top: 75px;
        height: 200px;
    }

    .ArrowButtonUp {
        padding: 6px 10px;
    }

    .ArrowButtonDown {
        padding: 6px 10px;
    }

    .IconArrowButton {
        font-size: 20px;
    }

    .DayText {
        font-size: 20px;
    }

    .MonthText {
        font-size: 20px;
    }

    .YearText {
        font-size: 20px;
    }

    .submitDatePicker {
        top: 285px;
    }

    .SubmitDatePickerText {
        font-size: 22px;
    }

    .SubmitDatePickerIcon {
        font-size: 22px;
    }

    .maritalStatusContiner {
        padding: 12px;
    }

    .RadioText {
        font-size: 24px;
    }

    .RadioButton {
        padding: 12px;
    }

    .SubmitButton {
        width: 190px;
        padding: 12px 15px;
    }

    .SubmitButton.onSubmit {
        width: 55px;
    }

    .SubmitIcon {
        font-size: 24px;
    }

    .SubmitText {
        font-size: 24px;
    }

    /* content styles << */
}

/* ------------------------------------- >> Large Screen Media Query << */

/* ------------------------------------- >> large LapTop Media Query << */

@media screen and (max-width: 1440px) {

    /* >> content styles */
    .MainContiner {
        width: 60%;
    }

    /* content styles << */
}

/* ------------------------------------- >> large LapTop Media Query << */

/* ------------------------------------- >> LapTop Media Query << */

@media screen and (max-width: 1024px) {

    /* >> content styles */
    .MainContiner {
        width: 60%;
    }

    /* content styles << */
}

/* ------------------------------------- >> LapTop Media Query << */

/* ------------------------------------- >> Tablet Media Query << */

@media screen and (max-width: 768px) {

    /* >> basic styles */
    .Layer1 {
        align-items: center;
        justify-content: center;
    }

    /* basic styles << */

    /* >> content styles */
    .MainContiner {
        width: 60%;
        height: 100%;
        border-radius: 0px;
        border-top: 0px;
        margin-left: 20px;
    }

    .RowContiner {
        align-items: end;
        flex-direction: column;
    }

    #ReversColumn {
        display: flex;
        flex-direction: column-reverse;
    }

    .SimpleFeildContiner {
        width: 100%;
        margin: 10px 0px;
    }

    /* content styles << */
}

/* ------------------------------------- >> Tablet Media Query << */

/* ------------------------------------- >> mobile Media Query << */

@media screen and (max-width: 428px) {

    /* >> all father style */
    html, body {
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.3));
    }

    /* all father style << */

    /* >> content styles */
    .MainContiner {
        width: 100%;
        margin-left: 0px;
    }

    .validationErrorText {
        font-size: 10px;
    }

    .UserContiner {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .WelcomeContiner {
        background-color: #1122a5;
    }

    .socialMediaIcon {
        font-size: 18px;
    }

    .address {
        padding: 8px 12px;
    }

    .addressText {
        font-size: 12px;
    }

    .phone {
        padding: 8px 12px;
    }

    /* content styles << */

    .SuccessSignUpContiner {
        width: 90%;
    }

    .TitleSignUpText {
        text-align: center;
        font-size: 14px;
    }

    .TitleSignUpIcon {
        font-size: 16px;
    }

}

/* ------------------------------------- >> mobile Media Query << */

/* --------------------------------------------------------- >> Media Query << */